Repository ishandesai/devconnect: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc.json:

{
  "**/*.{ts,tsx,js,jsx,md,css,json}": ["prettier --write"],
  "**/*.{ts,tsx,js,jsx}": ["eslint --fix"]
}

feat(api): implement core backend with Prisma schema, GraphQL CRUD, and JWT auth
  .turbo/daemon/dcdf116872b2e546-turbo.log.2025-09-08
  apps/api/.env
  apps/api/.gitignore
  apps/api/package.json
  apps/api/prisma/migrations/20250908000637_init/migration.sql
  apps/api/prisma/migrations/migration_lock.toml
  apps/api/prisma/schema.prisma
  apps/api/src/context.ts
  apps/api/src/index.ts
  apps/api/src/resolvers.ts
  apps/api/src/schema.ts
  apps/web/src/app/page.tsx
  apps/web/src/app/providers.tsx
  apps/web/src/lib/apollo.ts
  apps/web/src/lib/auth.ts
  monorepo_setup_dev_connect_next.md
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

feat(chat): add real time messaging with GraphQL subscriptions (graphql-ws, PubSub, live ChatPanel)
  .npmrc
  .turbo/daemon/dcdf116872b2e546-turbo.log.2025-09-08
  apps/api/package.json
  apps/api/src/index.ts
  apps/api/src/pubsub.ts
  apps/api/src/resolvers.ts
  apps/api/src/schema.ts
  apps/web/package.json
  apps/web/src/app/(auth)/login/page.tsx
  apps/web/src/app/(auth)/signup/page.tsx
  apps/web/src/app/dashboard/page.tsx
  apps/web/src/app/t/[teamId]/p/[projectId]/chat/page.tsx
  apps/web/src/app/t/[teamId]/p/[projectId]/docs/page.tsx
  apps/web/src/app/t/[teamId]/p/[projectId]/layout.tsx
  apps/web/src/app/t/[teamId]/p/[projectId]/tasks/page.tsx
  apps/web/src/components/ChatPanel.tsx
  apps/web/src/components/DocEditor.tsx
  apps/web/src/components/DocList.tsx
  apps/web/src/components/Sidebar.tsx
  apps/web/src/components/TaskBoard.tsx
  apps/web/src/components/Topbar.tsx
  apps/web/src/lib/apollo.ts
  apps/web/src/lib/graphql.ts
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

chore: add .gitignore and stop tracking envs
  .gitignore
  apps/api/.env
Due: none

chore: consolidate .gitignore; ignore pnpm caches & workspace artifacts
  .gitattributes
  .gitignore
  apps/api/.gitignore
  apps/api/src/context.ts
  apps/api/src/index.ts
  apps/api/src/pubsub.ts
  apps/api/src/resolvers.ts
  apps/api/src/schema.ts
  apps/api/src/tenant.ts
  apps/web/.gitignore
  apps/web/src/app/layout.tsx
  apps/web/src/app/t/[teamId]/p/[projectId]/layout.tsx
  apps/web/src/app/t/[teamId]/p/[projectId]/page.tsx
  apps/web/src/app/t/[teamId]/p/[projectId]/tasks/page.tsx
  apps/web/src/components/CollaborativeEditor.tsx
  apps/web/src/components/DocList.tsx
  apps/web/src/components/ui/Avatar.tsx
  apps/web/src/lib/apollo.ts
  apps/web/src/lib/auth.ts
  apps/web/src/lib/design-system.ts
  apps/web/src/lib/graphql.ts
  apps/web/src/lib/liveblocks.tsx
  apps/web/src/lib/team-context.tsx
  apps/web/src/lib/team.ts
Due: prettier --write, eslint --fix

feat(api,web): implement core API resolvers, schema updates, and frontend components
  .gitignore
  .turbo/daemon/dcdf116872b2e546-turbo.log.2025-09-07
  .turbo/daemon/dcdf116872b2e546-turbo.log.2025-09-08
  apps/api/data/yjs/000003.log
  apps/api/data/yjs/CURRENT
  apps/api/data/yjs/LOCK
  apps/api/data/yjs/LOG
  apps/api/data/yjs/MANIFEST-000002
  data/yjs/000005.log
  data/yjs/CURRENT
  data/yjs/LOCK
  data/yjs/LOG
  data/yjs/LOG.old
  data/yjs/MANIFEST-000004
Due: none

Delete .env
  .env
Due: none

Delete (DocEditor, Sidebar, Topbar)
  (DocEditor, Sidebar, Topbar)
Due: none

Delete (DocEditor, Sidebar, Topbar) (#2)
  (DocEditor, Sidebar, Topbar)
Due: none

feat: add comprehensive performance testing infrastructure (#3)
  apps/web/lighthouse.config.js
  apps/web/next.config.ts
  apps/web/package.json
  apps/web/scripts/performance-test.js
  apps/web/scripts/web-vitals-report.js
  apps/web/src/components/PerformanceMonitor.tsx
Due: prettier --write, eslint --fix

chore: remove performance test reports from PR - Remove lighthouse-report.json files from tracking - Add to .gitignore to prevent future commits
  apps/web/lighthouse-report-2.json
  apps/web/lighthouse-report.json
Due: prettier --write

Feature/frontend refactoring (#4)
  .env.local.example
  apps/api/.env.bak
  apps/api/.env.example
  apps/api/src/resolvers.ts
  apps/web/next-env.d.ts
  apps/web/src/app/(auth)/layout.tsx
  apps/web/src/app/(auth)/login/LoginClient.tsx
  apps/web/src/app/(auth)/login/page.tsx
  apps/web/src/app/(auth)/signup/SignupClient.tsx
  apps/web/src/app/(auth)/signup/page.tsx
  apps/web/src/app/HomeClient.tsx
  apps/web/src/app/dashboard/DashboardClient.tsx
  apps/web/src/app/dashboard/layout.tsx
  apps/web/src/app/dashboard/page.tsx
  apps/web/src/app/fonts.ts
  apps/web/src/app/layout.tsx
  apps/web/src/app/not-found.tsx
  apps/web/src/app/page.tsx
  apps/web/src/app/providers.tsx
  apps/web/src/app/t/[teamId]/p/[projectId]/chat/ChatClient.tsx
  apps/web/src/app/t/[teamId]/p/[projectId]/chat/page.tsx
  apps/web/src/app/t/[teamId]/p/[projectId]/docs/DocsClient.tsx
  apps/web/src/app/t/[teamId]/p/[projectId]/docs/layout.tsx
  apps/web/src/app/t/[teamId]/p/[projectId]/docs/page.tsx
  apps/web/src/app/t/[teamId]/p/[projectId]/layout.tsx
  apps/web/src/app/t/[teamId]/p/[projectId]/page.tsx
  apps/web/src/app/t/[teamId]/p/[projectId]/route.ts
  apps/web/src/app/t/[teamId]/p/[projectId]/tasks/page.tsx
  apps/web/src/components/ChatPanel.tsx
  apps/web/src/components/CollaborativeEditor.tsx
  apps/web/src/components/DocList.tsx
  apps/web/src/components/TaskBoard.tsx
  apps/web/src/components/layout/AppShell.tsx
  apps/web/src/lib/apollo.ts
  apps/web/src/lib/graphql.ts
  apps/web/src/types/route.ts
  apps/web/tailwind.config.ts
  apps/web/tsconfig.json
  pnpm-lock.yaml
Due: prettier --write, eslint --fix
